<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">

    <input type="text" v-model="person.child.firstChild">
</div>

<script src="../node_modules/vue/dist/vue.js"></script>
<script>

    //import {Vue} from "vue";

    let aa = new Vue({
        el: "#app",
        data: {
            person: {
                name: 'shen',
                child: [
                    {firstChild: 'aaa', age: 12},
                    {secChild: 'bbbb', age: 13}
                ]
            }
        },
        methods: {},
        computed: {},
        watch: {
            'person.child': {
                handler(newVal, oldVal)
                {
                    console.log(newVal, oldVal);
                },

                deep:true
            }
        }

    })

</script>
</body>
</html>