<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--数据源 spring自带的不怎么使用-->
    <!--<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
        <property name="username" value="root"/>
        <property name="url" value="jdbc:mysql:///itcastspring"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="password" value="1998"/>
    </bean>-->

    <!--引入外部资源文件-->
    <context:property-placeholder location="jdbc.properties"/>
    <!--一般使用C390 DRUID等数据连接池-->
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
        <property name="user" value="${jdbc.user}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--JDBCtemplate-->
   <!-- <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
        &lt;!&ndash;注入数据源&ndash;&gt;
        <property name="dataSource" ref="dataSource"/>
    </bean>-->

    <bean class="cn.shen.spring.dao.BookDao" id="bookDao">
        <!--<property name="jdbcTemplate" ref="jdbcTemplate"/>-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>